################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FotoQuestGo/.vs/FotoQuestGo/v15
